<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/android-chrome-512x512.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
    <title>Home</title>
  </head>
  <body>
    <div class="title">
      <h1>Contributors to Hacktoberfest 2023</h1>
    </div>

    <ul>
      <% for (let x of contributor_data){%>
      <div class="user_data">
        <a href="/<%=x%>"><%=x%></a>
      </div>

      <%}%>
    </ul>
  </body>
</html>
